!!!
%html
  %head
    %title MyLecture
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-primary{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %a.navbar-brand{:href => root_path} My Lecture
        / Collect the nav links, forms, and other content for toggling
        /
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = current_user.email
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    - if current_user.is_student?
                      = link_to "Edit Profile", edit_student_registration_path(current_user.id)
                    - else
                      = link_to "Edit Profile", edit_lecturer_registration_path(current_user.id)
                    %a{:href => edit_lecturer_registration_path} Edit Profile
                  %li.divider
                  %li
                    = link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li
                %a{:href => new_user_session_path} Sign In
              %li
                %a{:href => new_student_registration_path} Student Sign Up
              %li
                %a{:href => new_lecturer_registration_path} Lecturer Sign Up
              
            /
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Dropdown
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Separated link
          %form.navbar-form.navbar-right{:role => "search"}
            .form-group
              %input.form-control{:placeholder => "Search", :type => "text"}
            %button.btn.btn-default{:type => "submit"} Submit

    - if user_signed_in?
      .col-sm-3
        .navbar-default.sidebar{:role => "navigation"}
          .sidebar-nav.navbar-collapse
            %ul#side-menu.nav
              %li
                %a.active{:href => courses_path}
                  %i.fa.fa-dashboard.fa-fw
                  Courses
          / /.sidebar-collapse
      .col-sm-9
        = yield
    - else
      = yield
